 body {
     font-family: Arial, sans-serif;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}
 main {
     flex: 1;
}

.navbar-toggler img {
  vertical-align: middle;
}

.navbar-toggler {
  margin-top: 4px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

@media (max-width: 991.98px) {
  #mobileMenu .menu-link {
    font-size: 1.2rem;
    padding: 8px 0;
    text-align: center;
    width: 100%;
  }

  #mobileMenu nav {
    width: 100%;
    text-align: center;
    align-items: center !important;
  }
}
